<!DOCTYPE html>
<html>
	<head>
		<title>Camera Slider</title>
		<link rel="icon" href="{{url_for('static',filename='img/favicon.ico')}}" type="image/x-icon" />
        <link href="{{url_for('static',filename='css/icons.css')}}" rel="stylesheet">
        <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/materialize.min.css')}}"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body class = "grey lighten-5">
		<div class="container">

			<div class = "row">
				<div class="col s12 center-align">
					<a href = "/" style="width: 100%;" class="z-depth-2 grey lighten-1 waves-effect waves-light btn-large"><i class="material-icons">home</i></a>
				</div>
			</div>
            
			<div class = "row">
				<div class="red-text col s12 center-align">
					<h5><i style = "font-size: 20px;" class="material-icons">format_list_numbered</i> <b>SEQUENCES</b></h5>
				</div>
            </div>
            
			<div class = "row">
				<div class="col s12 center-align">
					<a onClick="EditSequence(-1);" style="width: 80%;" class="z-depth-2 blue lighten-2 waves-effect waves-light btn-large"><i class="material-icons left">add_circle</i>New sequence</a>
				</div>
            </div>
            
            <div id = "SequenceList">

            </div>
			
			
		</div>
	</body>
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/sequences.js')}}"></script>
</html>